/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: var(--ifm-color-emphasis-100);
}

.newsItem {
  background-color: var(--ifm-background-surface-color);
}

.mobileNews {
  display: none;
}

@media screen and (max-width: 996px) {
  .news {
      display: none;
  }

  .mobileNews {
    display: flex;
  }
}